/*-------CSS GRUPO-----------*/
*{
	padding: 0px;
	margin:0px; 
    color:#505050;
}

.lgo{
	padding-top: 1.5%;
	width: 5%;
	display: inline-block;
	margin-right: 3%
}
.first li{
	list-style: none;
	text-decoration: none;
	display:inline-block;
	margin-right: 3%;
	}
.usuario{
padding-top: 1%;
}


.linea{
	border: 1px solid orange;
	display: inline-block;
	width: 90%;
	margin-left:8%;
	margin-bottom: 2%;

}

.date{
	color:#9B9B9B; 
}

.fechas{
	margin-bottom: 1%;

}
.datos{
	margin-left: 8%;
}
.datos li{
   list-style: none;
	text-decoration: none;
	display:inline-block;
	margin-right: 2%;
}
li.active{
	border-bottom: 4px solid green;
}
.exit{
	padding: 2%;
}
 .menu{
	background-color:#003767!important;
	padding: 1%;
	color: #ffff;
	display: inline-block;
	width: 100%;

}

.menu ul{
	margin-left: 6.5%;
	margin-bottom: 0px !important;
}


.nav-menu li{

display: inline-block;
list-style: none;
text-decoration: none;
margin-left: 0.5%;
margin-right: 6%;
color: #ffff;

}

.botones{
	margin-left: 30%;
}

.botones2{
margin-left: 25%;
}

.btns{
	padding-top: 1%;
	text-decoration: none;
	list-style: none;
	display: inline-block;
}
.chat{
margin-top: 1%;
margin-bottom: 3%;


}
.txt{
	padding: 0.5em 1em 0.5em 1em;
    background-color:  #007AB7;
    color: #ffff;
    transform: rotate(-90deg);

}
.gestor{
	float: right;
	margin-top: 1%;	
	margin-bottom: 1%;
}



.txt2{
	background-color: transparent;
	border-color:  #EC7000;
	color:  #EC7000;
	/*padding-right: 2em;
	padding-left: 2em;*/
	padding: 1em 0.4em 1em 0.4em;
}
.todos{
	display: inline-block;
    color: #505050;

}
.todos a{
text-decoration: none;
}
.panel-heading{
background: linear-gradient(180deg, #EEEEEE 0%, #D8D8D8 100%);
border-radius: 8px 8px 0px 0px;
color:#505050;
font-weight: bold;
font-size: 20px;
}

.panel-body{
	background-color: #F1F1F1;
}

.panel-heading-2{
background: linear-gradient(180deg, #EEEEEE 0%, #D8D8D8 100%);
border-radius: 8px 8px 0px 0px;
color:#505050;
font-weight: bold;
font-size: 14px;
		
}
.tabla{
	background-color: #ffff;
	width: 70%;
}

.inpt{
	width: 10%;
	border:none;
}
.bton-5{
	border-color:  #EC7000;
}
.btn-dir{
	border-color:  #EC7000;
	text-decoration: none;
	padding: 1%;
}
.texto{
	color:  #EC7000;
	margin-left: 2%;
}

.oculto tr{
display: none;

}
.box-big{
margin-top: 5%;
}

.botones-3{
	margin-top: 3%;
	
	
}
.btn-one{
	margin-right:  15em;
	border-color:#EC7000;
	font-size: 14px;
	background-color:#EC7000;
	color: #fff; 

}
.btn-two{
	
	border-color:#EC7000;
	font-size: 14px;
	color: #fff;
	background-color: #EC7000;
	width: 30%;

}
.boox-one{
	background-color: #fff;
}

.name-rut{
	margin-left: 15%;
}
.name-rut li{
	display: inline-block;
	text-decoration: none;
	list-style: none;
}
.pyme{
	margin: 3%;
	font-weight: bolder;
}

/*.table{
	margin-top: 5%;
		
}
.tabla{
	background-color: #ffff;
	width: 60%;
	vertical-align: middle;



}

.inpt{
	width: 10%;
	border:none;
}
.tabla{
	vertical-align: middle;
}*/

